<!--Testimonials-->
<aside id="testimonials" class="scrollto text-center" data-enllax-ratio=".2">

  <div class="row clearfix">

      <div class="section-heading">
          <h3>{{testimonials.tagline}}</h3>
          <h2 class="section-title">{{testimonials.title}}</h2>
      </div>
<div *ngFor="let des of testimonials.description">
      <!--User Testimonial-->
      <blockquote class="col-3 testimonial classic">
          <img src="../assets/images/user-images/{{des.image}}" alt="User"/>
          <q>{{des.description}}</q>
          <footer>{{des.footer}}</footer>
      </blockquote>
      <!-- End of Testimonial-->
</div>
  </div>

</aside>
<!--End of Testimonials-->